@import url("./tailwind.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.bgSignin {
  background-image: url("~/assets/imgs/bgLogin.jpg");
}

.bgSignup {
  background-image: url("~/assets/imgs/bgSignup.jpg");
}

.bgRecovery {
  background-image: url("~/assets/imgs/bgRecovery.jpg");
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
